.section__instrument{
    padding-bottom: 0;
}
.instrument{
    & .instrument__item{
    width: 270px;
    margin-right: 30px;
    }
}
.instrument__list{
    display: flex;
    flex-wrap: wrap;
}
.instrument__item:last-child{
    margin-right: 0;
}
.instrument__card{
    width: 270px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;    
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: var(--accent-background-color);
}
.instrument__icon{    
    width: 70px;
    height: 70px;    
}
.instrument__title{
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--text-secondary-color);
}
.instruments__description{
    margin-top: 10px;
    line-height: 1.7;
    color: var(--text-primary-color);
}